#create-btn {
    margin-top: 15px;
}


.card {
    margin-top: 50px;
    margin-left: 50px;
}

.card-footer{
    border-radius: 2rem;
  }
#circle-btn {
    border: none;
    border-radius: 50%;
    float: right;
}

#detail-btn {
    margin-left: 24px;
}

.badge {
    float: right;
}

.card-price{
    float: left;
}
